@media (max-width: 768px) {
  html {
    font-size: 50%;
  }
  body {
    overflow-x: hidden;
  }
}

@media (max-width: 425px) {
  html {
    font-size: 50%;
  }
  body {
    overflow-x: hidden;
  }
  nav {
    width: auto;
  }
  .produto-see {
    width: 100vw;
    grid-column: auto;
    grid-row: 1fr 1fr 1fr;
  }
}

@media (max-width: 375px) {
  html {
    font-size: 50%;
  }
  body {
    overflow-x: hidden;
  }
}

@media (max-width: 320px) {
  html {
    font-size: 50%;
  }
  body {
    overflow-x: hidden;
  }
}
